@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #e0e0e0;
}

.timerContainer {
  width: 500px;
  height: 600px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.header {
  text-align: center;
  padding: 20px;
  margin-bottom: 10px;
  color: #31456a;
  font-size: 35px;
  font-weight: 700;
  font-family: "Comfortaa", cursive;
}

.timer {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  margin: 0 auto 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clockHands {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #31456a;
}

.hours {
  width: 55px;
  display: grid;
  place-items: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #31456a;
}

.minutes {
  width: 55px;
  display: grid;
  place-items: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #31456a;
}

.seconds {
  width: 55px;
  display: grid;
  place-items: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #31456a;
}

.milliseconds {
  width: 55px;
  display: grid;
  place-items: center;
  font-size: 35px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.buttons {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.startButton {
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 7px 7px 10px #969696, -7px -7px 10px #ffffff;
  border: none;
  cursor: pointer;
  color: #00a86b;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 5px auto 15px auto;
}

.stopButton {
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 7px 7px 10px #969696, -7px -7px 10px #ffffff;
  color: #eb5757;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 5px auto 15px auto;
}

.resetButton {
  width: 40%;
  height: 50px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 7px 7px 10px #969696, -7px -7px 10px #ffffff;
  color: #31456a;
  border: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 5px auto 15px auto;
}

.waitButton {
    width: 40%;
    height: 50px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 7px 7px 10px #969696, -7px -7px 10px #ffffff;
    color: #31456a;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 5px auto 15px auto;
  }

.clicked {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 7px 7px 10px #969696, inset -7px -7px 10px #ffffff;
}
